body {
    
    width:100%;
    height: 150vh;
    background: linear-gradient(
        to top,
         white 0%, 
        white 50%,
    black 50%,
    black 100%);
    /* background-image: url(./asset/phone.jpg);
    background-repeat: no-repeat; */
}
       
 #sign{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin: 0;
    box-shadow: 10px, 10px, 10px, rgba(5, 5, 5, 5);
    border-radius: 20px;

    animation-delay: 1s;
    animation-duration: 3s;
    animation-name:slidein;
   }
   
   @keyframes slidein {
     from {
       margin-left: 300%;
       width: 20%;
     }
   
}

h2{
    background-image: url(./asset/net-removebg-preview.png);
    background-repeat:repeat-x;
    height: 350px;
    background-position y: center;
    background-position-x: center;
    color: #fff;
    
   }
  
  .main-card {
    display: flex;
    background-color: rgb(221, 218, 218);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    

    /* height: 70vh;  remove this heigh so that all the html element can fit in*/
    /* Added little gape between the two containers */
    gap: 2rem;
  }
  
  .left-card {
    flex: 2;
    padding: 20px;
    background-color: #3498db;
    color: white;
    box-shadow: 10px, 10px, 10px, rgba(5, 5, 5, 5);

  }
  
  
  
  .form-card {
    flex: 4;
  }
  form {
    width: 90%;
  }
  
  .form-card label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-card input {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
      outline: none;
  
  }
  input {
    width: 100%;
  }
  input:hover, input:focus{
        outline:  1px solid yellow;
  
  }
  
  .form-card button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    
  }
  
  .btn_container {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  .network {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100%;
    margin: auto auto;
    
  }
  


  .network_title {
    text-align: center;
  }
  .network_logo--container {
    max-height: 4rem;
    max-width: 4rem;
    margin: 0 auto;
    border-radius: 10px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 600px) {
    .main-card {
      flex-direction: column;
      padding: 0 10px;
    }
  
    .form-card {
      margin: 0 auto;
    }
    .form-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }